<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Exchain</title>
    <meta http-equiv="keywords" content="Exchain交易所，币币交易，法币交易，ET，交易即入股"/>  
    <meta http-equiv="description" content="Exchain交易所，全球首家共享型交易平台，以用户需求为核心，打造“共有、共享、共治、透明开放互惠性交易平台。交易即入股分享100%平台收益，同时有限时免交易费，合作伙伴奖励等活动与用户共建交易所。"/>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link rel="shortcut icon" type="image/x-icon" href="/dist/favicon.ico">
</head>

<script>
    (function(){
    if (window.BOOMR && window.BOOMR.version) { return; }
    var dom,doc,where,iframe = document.createElement("iframe"),win = window;

    function boomerangSaveLoadTime(e) {
        win.BOOMR_onload=(e && e.timeStamp) || new Date().getTime();
    }
    if (win.addEventListener) {
        win.addEventListener("load", boomerangSaveLoadTime, false);
    } else if (win.attachEvent) {
        win.attachEvent("onload", boomerangSaveLoadTime);
    }

    iframe.src = "javascript:void(0)";
    iframe.title = ""; iframe.role = "presentation";
    (iframe.frameElement || iframe).style.cssText = "width:0;height:0;border:0;display:none;";
    where = document.getElementsByTagName("script")[0];
    where.parentNode.insertBefore(iframe, where);

    try {
        doc = iframe.contentWindow.document;
    } catch(e) {
        dom = document.domain;
        iframe.src="javascript:var d=document.open();d.domain='"+dom+"';void(0);";
        doc = iframe.contentWindow.document;
    }
    doc.open()._l = function() {
        var js = this.createElement("script");
        if (dom) { this.domain = dom; }
        js.id = "boomr-if-as";
        js.src = "https://s.go-mpulse.net/boomerang/" +
        "XX5XE-JWKX9-Y6PA5-WJNRF-XGUZH";
        BOOMR_lstart=new Date().getTime();
        this.body.appendChild(js);
    };
    doc.write('<body onload="document._l();">');
    doc.close();
    })();

    window.onload = function() {
        var browser = (function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1,//火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                iPhone: u.indexOf('iPhone') > -1 , //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        })();

        if(browser.mobile || browser.ios || browser.android || browser.iPhone || browser.iPad){
            document.getElementsByTagName('body')[0].className = 'wap';
        }
    }
</script>

<body  style="background-color: #f6f6f6">
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>