.fl {float: left;}
.fr {float: right;}

.wap .headr .ivu-btn {
  padding: 6px 10px;
}

.wap .block {
  min-width: initial;
  width: 100%;
}

.wap .block .inner {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* 首页 */
.wap .banner .notice {
  right: calc(50% - 470px);
}
.wap .banner .block .inner {
  width: 680px;
  margin: inherit;
  padding-right: 0px;
}
.wap .banner .block .banner-descript {
  width: 680px;
}

/* 登录 */
.wap .login .content .info {
  left: 488px;
}

.wap .login .content .login_form {
    width: 420px;
}

/* 个人中心 */
.wap .content-body-main {
  width: 980px;
  padding-left: 20px;
  padding-right: 20px;
}
.wap .kyc-cont .kyc-main .form-box .form-item {
  width: 385px;
}
.wap .kyc-cont .kyc-main .sample {
  width: 580px;
}

.wap .kyc-cont .kyc-main .sample .sample-txt {
  width: 230px;
}

.wap .footr {
    height: 320px;
}

.wap .en .headr .logo {
    margin-right: 10px;
}

body {
    font-size: 14px;
}

.page_content-padding .page_content {
    padding-top: 40px;
    padding-bottom: 24px;
}

.model-btn-wrap {
    font-size: 16px;
}

.model-btn-wrap .model-btn {
    position: relative;
    width: 160px;
    height: 50px;
    padding: 10px 16px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #419aec;
    color: #419aec;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0px;
}

.model-btn-wrap .model-btn:hover {
    color: #fff;
    background-color: #419aec;
}

.model-btn-wrap .primary {
    color: #fff;
    background-color: #419aec;
}

/* 统一成50 */

.ivu-btn {
    font-size: 16px;
}

/* 表单文字 */

.ivu-form-item-content {
    font-size: 14px;
}

.ivu-form .ivu-form-item-label {
    font-size: 14px;
}

.ivu-select-item {
    font-size: 14px;
}

.ivu-input {
    height: 40px;
}

.ivu-select-single .ivu-select-selection {
    height: 40px;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 40px;
    line-height: 40px;
}

.btn-large {
    height: 40px;
    border-radius: 0px;
}







.finance-record .ivu-table-cell-expand i {
    display: none;
}
