.fl {float: left;}
.fr {float: right;}
.clearfix::before {content: ''; display:block; clear: both;}
.pr {position: relative;}
.highlight {color: #419aec;}
.pointer {cursor: pointer;}

.banner-shortcut {
    position: absolute;
    width: 380px;
    height: 300px;
    /* background: #fff; */
    float: right;
    right: calc(50% - 600px);
    top: 120px;
}
/* background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); */
.novice {
    background: -webkit-linear-gradient(left, rgba(89, 153, 229, 0.6), rgba(115, 89, 229, 0.6));
    background: -moz-linear-gradient(to right, rgba(89, 153, 229, 0.6), rgba(115, 89, 229, 0.6));
    background: -ms-linear-gradient(to right, rgba(89, 153, 229, 0.6), rgba(115, 89, 229, 0.6));
    background: -o-linear-gradient(to right, rgba(89, 153, 229, 0.6), rgba(115, 89, 229, 0.6));
    background: linear-gradient(to right, rgba(89, 153, 229, 0.6), rgba(115, 89, 229, 0.6));
  }
.advise {
    background: -webkit-linear-gradient(left, rgba(116, 202, 242, 0.6), rgba(107, 161, 166, 0.6));
    background: -moz-linear-gradient(to right, rgba(116, 202, 242, 0.6), rgba(107, 161, 166, 0.6));
    background: -ms-linear-gradient(to right, rgba(116, 202, 242, 0.6), rgba(107, 161, 166, 0.6));
    background: -o-linear-gradient(to right, rgba(116, 202, 242, 0.6), rgba(107, 161, 166, 0.6));
    background: linear-gradient(to right, rgba(116, 202, 242, 0.6), rgba(107, 161, 166, 0.6));
}
.announcement {
    background: -webkit-linear-gradient(left, rgba(152, 116, 242, 0.6), rgba(176, 113, 190, 0.6));
    background: -moz-linear-gradient(to right, rgba(152, 116, 242, 0.6), rgba(176, 113, 190, 0.6));
    background: -ms-linear-gradient(to right, rgba(152, 116, 242, 0.6), rgba(176, 113, 190, 0.6));
    background: -o-linear-gradient(to right, rgba(152, 116, 242, 0.6), rgba(176, 113, 190, 0.6));
    background: linear-gradient(to right, rgba(152, 116, 242, 0.6), rgba(176, 113, 190, 0.6));
  }
/* .ivu-btn {float: left;} */
.btn-large {
    position: relative;
}

body {
    font-size: 14px;
}

.page_content-padding .page_content {
    padding-top: 40px;
    padding-bottom: 24px;
}

.model-btn-wrap {
    font-size: 16px;
}

.model-btn-wrap .model-btn {
    position: relative;
    width: 160px;
    height: 50px;
    padding: 10px 16px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #419aec;
    color: #419aec;
    background-color: #fff;
    cursor: pointer;
    border-radius: 0px;
}

.model-btn-wrap .model-btn:hover {
    color: #fff;
    background-color: #419aec;
}

.model-btn-wrap .primary {
    color: #fff;
    background-color: #419aec;
}

.wap .headr .ivu-btn {
  padding: 6px 8px;
}



.wap .block {
  min-width: initial;
  width: 100%;
}

.wap .block .inner {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* 首页 */
.wap .banner .notice {
  right: calc(50% - 470px);
}
.wap .banner .block h2 {
    width: auto;
}
.wap .banner .block .inner {
  width: 680px;
  margin: inherit;
  padding-right: 0px;
}
.wap .banner .block .banner-descript {
  width: 680px;
}

.wap .banner-shortcut {
    width: 260px;
    right: calc(50% - 470px);
}

.wap .banner-shortcut .title {
    font-size: 12px;
}
/* 登录 */
.wap .login .content .info {
  left: 488px;
}

.wap .login .content .login_form {
    width: 420px;
}

/* 个人中心 */
.wap .content-body-main {
  width: 980px;
  padding-left: 20px;
  padding-right: 20px;
}
.wap .kyc-cont .kyc-main .form-box .form-item {
  width: 385px;
}
.wap .kyc-cont .kyc-main .sample {
  width: 580px;
}

.wap .kyc-cont .kyc-main .sample .sample-txt {
  width: 230px;
}

.wap .footr {
    height: 320px;
}

.wap .en .headr .logo {
    margin-right: 0px;
}

.wap .en .headr .ivu-btn {
    padding: 6px 6px;
}

.wap .bonus_content .my-reward .pa-top {
    width: 821px;
}

.wap .bonus_content .my-reward .pa-bottom {
    width: 821px;
}



/* 统一成50 */

.ivu-btn {
    font-size: 16px;
}

/* 表单文字 */

.ivu-form-item-content {
    font-size: 14px;
}

.ivu-form .ivu-form-item-label {
    font-size: 14px;
}

.ivu-select-item {
    font-size: 14px;
}

.ivu-input {
    height: 40px;
}

.ivu-select-single .ivu-select-selection {
    height: 40px;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 40px;
    line-height: 40px;
}

.btn-large {
    height: 40px;
    border-radius: 0px;
}

.finance-record .ivu-table-cell-expand i {
    display: none;
}

.bonus_content .my-reward .pa-left {
    position: absolute;
    top: 48px;
    left: 21px;
    width: 2px;
    height: calc(100% - 96px);
    background: #bfa68c;
}
.bonus_content .my-reward .pa-right {
    position: absolute;
    top: 48px;
    right: 21px;
    width: 2px;
    height: calc(100% - 96px);
    background: #bfa68c;
}

.entrust-cont .ivu-table-cell {
    padding-left: 10px;
    padding-right: 10px;
}
.entrust-cont .page-wrap {
    padding: 20px 0px;
}

.entrust-cont .ivu-page-item, .entrust-cont .ivu-page-item-jump-next, .entrust-cont .ivu-page-item-jump-prev {
    display: none;
}